[color]
	ui = auto

[color "diff"]
	meta = yellow

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = current

[pull]
	rebase = true

[rerere]
	enabled = true

; [init]
; 	templatedir = ~/.git_template

[alias]
	ctags = !.git/hooks/ctags

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[merge]
	tool = diffconflicts

[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true

[mergetool]
	keepBackup = false

[include]
	path = .gitconfig.private
