[color]
	ui = auto

[color "diff"]
	meta = yellow

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = simple

[rerere]
	enabled = true

[init]
	templatedir = ~/.git_template

[alias]
	ctags = !.git/hooks/ctags

[include]
	path = .gitconfig.private
