[color]
	ui = auto

[color "diff"]
	meta = yellow

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = current

[rerere]
	enabled = true

[init]
	templatedir = ~/.git_template

[alias]
	ctags = !.git/hooks/ctags

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[include]
	path = .gitconfig.private
